/*formantando a area da barra de navegação */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

/*Formatando os itens da barra de navegação */

li a {
    display: block;
    color: rgb(235, 34, 34);
    padding: 8px 16px;
    text-decoration: overline;
}

li a:hover {
    background-color: #4d8179;
    color: white;


}